<div class="container">
<div class="row">
  <div class="col-xl-12 col-sm-8">
    <h1 class="tittle">Somos una institucion financiera dedicada a la inversiones de criptomonedas!</h1>
  </div>
  <p class="texto">Te traemos el mejor BANCO el cual va a llevar tu inversion y manejo de tu dinero de la mejor forma, de esta manera vas a poder gozar del rendimiento sin tener que hacer nada mas!</p><img src="https://miro.medium.com/max/1400/1*GFtgj0koXY-ymPoOKr1Hzw.gif" class="img">

</div>
<p class="secondtext">Estamos ubicados en todo el pais con presencia en mas de 40 ciudades.<br>Nos caracterizamos por ser una de las primeras empresas pioneras en el rubro de las cryptomonedas.</p>
</div>
