.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  background-color: #264653;
}
.registerbutton {
  border-radius: 20px;
  background-color: #2a9d8f;
  border: 0;
  color: inherit;
}
.tittle {
  display: flex;
  position: relative;
  align-content: flex-end;
}
.register{
  display: flex;
  align-content: right;
}
.container {
  display: flex;
  align-content: flex-end;
}
